extends layout

block content
  
  #banner.page-header
    .row
      .col-md-12.col-sm-12
        br
        br
        h3= title
  .row
    .col-md-12.col-sm-12
      p
        |<br/><br/>
        | We bring you the latest and trending collection of music and festivals going around the world which also includes latest news of editorials , music , Film and Tv
        
      p 
        

       
